In [2]:
import numpy as np
import pandas as pd
import os
import glob
import xml.etree.ElementTree as ET
from sklearn.ensemble import RandomForestRegressor

In [2]:
data_path = 'D:\\Users\\Qoo\\Desktop\\taipower\\data\\'

In [3]:
df3 = pd.read_csv('df_1112.csv')

In [4]:

#split data to train and test
te = df3.loc[(df3.typhoon=='NESATANDHAITANG')|(df3.typhoon=='MEGI'),:]
keep = list(set(df3.index) - set(te.index))
tr = df3.iloc[keep,:]
print len(te)
print len(tr)
print len(df3)

15702
62808
78510

In [5]:
df3.columns.values

array(['CityName', 'TownName', 'VilName', 'VilCode', 'typhoon',
       'elect_down', 'year', 'id', 'ch_name', 'en_name', 'type',
       'magnitude', 'hpa', 'wind_speed', 'r7_km', 'r10_km', 'alert_level',
       'arrive', 'leave', 'arrive_month', 'arrive_hour', 'arrive_weekday',
       'arrive_week', 'duration', 'duration_h', 'pole_type_counts', 'p1',
       'p2', 'p3', 'p4', 'p5', 'p6', 'p7', 'p8', 'p9', 'p10',
       'pole_counts', 'double_kill', 'Minguo_year', 'location',
       'people_total', 'area', 'population_density', 'VILLCODE',
       'COUNTYNAME', 'TOWNNAME', 'VILLNAME', 'vil_lon', 'vil_lat', 'stno',
       'stname', 'st_height', 'st_lon', 'st_lat', 'st_city',
       'mean_accu_hour_rain', 'mean_accu_day_rain', 'accu_rain',
       'heavy_rain_count_rule1', 'heavy_rain_count_rule2',
       'how_rain_count_rule1', 'big_how_rain_count',
       'big_big_how_rain_count', 'max_hour_accu_rain', 'max_day_accu_rain',
       'mean_hr_wsmax', 'mean_hr_wsgust', 'max_hr_wsmax', 'max_hr_wsgust',
       'region_cluster'], dtype=object)

In [6]:
df3.iloc[:,55:63].describe()

,mean_accu_hour_rain,mean_accu_day_rain,accu_rain,heavy_rain_count_rule1,heavy_rain_count_rule2,how_rain_count_rule1,big_how_rain_count,big_big_how_rain_count
count,78510.000000,78510.000000,78510.000000,78510.000000,78510.000000,78510.000000,78510.000000,78510.0
mean,4.661934,46.118128,117.626841,0.555089,0.217284,0.102229,0.008891,0.0
std,3.697371,45.531359,110.722227,0.710187,0.600733,0.302951,0.093870,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,1.613636,9.250000,21.900000,0.000000,0.000000,0.000000,0.000000,0.0
50%,3.612500,32.500000,87.700000,0.000000,0.000000,0.000000,0.000000,0.0
75%,7.457143,72.500000,185.000000,1.000000,0.000000,0.000000,0.000000,0.0
max,21.543478,258.000000,618.600000,3.000000,5.000000,1.000000,1.000000,0.0

In [7]:

var = ['year','type','magnitude','hpa','wind_speed','r7_km','r10_km','alert_level','arrive_month','arrive_hour',
       'arrive_weekday','arrive_week','duration_h','pole_type_counts',
 'p1', 'p2', 'p3','p4','p5','p6','p7','p8','p9', 'p10',
       'pole_counts','double_kill', 'people_total','area','population_density',
            'mean_accu_hour_rain', 'mean_accu_day_rain', 'accu_rain',
       'heavy_rain_count_rule1', 'heavy_rain_count_rule2',
       'how_rain_count_rule1', 'big_how_rain_count',
       'big_big_how_rain_count','mean_hr_wsmax', 'mean_hr_wsgust', 'max_hr_wsmax', 'max_hr_wsgust',
      'region_cluster']
#'CityName','TownName','VilName','VilCode'
tr_x = tr.loc[:,var]
tr_y = tr.loc[:,'elect_down']
te_N = te.loc[te.typhoon =='NESATANDHAITANG', var]
te_M = te.loc[te.typhoon =='MEGI', var]
print len(tr_x) , len(tr_y)
print len(te_N) , len(te_M)

62808 62808
7851 7851

In [8]:

regr = RandomForestRegressor(n_estimators=200, max_depth=10, random_state=2017, oob_score=True)
regr.fit(tr_x, tr_y)
print(regr.oob_score_)

0.382144556301

In [9]:

Nes = regr.predict(te_N)
Meg = regr.predict(te_M)
print len(Nes)
print len(Meg)

7851
7851

In [10]:
test = pd.read_csv(data_path+ 'submit.csv')
test.NesatAndHaitang = Nes
test.Megi = Meg

In [11]:
test.to_csv(data_path+ 'sub.csv',index=False)